@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", serif;
}

.header {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  font: 12px inter, serif;
  position: fixed;
  background-color: white;
  width: 100vw;
}
.header-apple {
  height: 44px;
  width: 30px;
}
.navigation {
  margin-top: 15px;
  column-gap: 10px;
  display: flex;
}

.header-nav {
  text-decoration: none;
  color: black;
}

.header-text {
  text-align: center;
  padding-top: 60px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-icon {
  gap: 24px;
}
.menu {
  display: none;
}
.iphone-pro {
  background: url(./zurag/Background.png);
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.iphone-pro h2 {
  font-size: 52px;
  font-family: inter, serif;
  font-weight: 600;
  padding-bottom: 15px;
}

.iphone-pro p {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 10px;
}

.child {
  height: 44px;
  width: 207px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 380px;
}

.iphone16 {
  background: url(.//zurag/1.png);
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;

  height: 692px;
  width: 100vw;
  color: white;
}
.iphone16-header {
  margin-top: 10px;
}

.iphone16-header h2 {
  padding-bottom: 10px;
  font-size: 52px;
  display: flex;
  justify-content: center;
}

.iphone16-header p {
  text-align: center;
  font-size: 30px;
}
.iphone16 p {
  padding-bottom: 10px;
}
.child16 {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
  margin-right: 10px;
}

.gift {
  background: url(./zurag/Figure5.png);
  width: 100vw;
  background-position: center;
  background-size: cover;
  height: 692px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pad {
  display: none;
  background: url(./zurag/pad1.png);
  background-position: center;
  width: 100vw;
  text-align: center;
}
.pad p {
  padding: 10px 0px;
}
.learn-more {
  background-color: #0071E3;
  padding: 5px;
  color: white;
  border-radius: 40px;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
}

.padchild p {
  padding-top: 500px;
  background-image: linear-gradient(to right, blue, red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.buy {
  color: blue;
  border: 2px solid blue;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 15px;

}
.gift h2 {
  font-size: 52px;
  font-weight: 600;
}
.gift p {
  font-size: large;
  font-weight: 400;
}
.giftbutton {
  background-color: blue;
  padding: 5px;
  font-size: medium;
}

:root {
  --image-url: url("./zurag/pad.png");
  --scroll: url("./zurag/hangai.jpg");
  --small: url("./zurag/3.jpg");
}

.scroll {
  display: flex;
  overflow-x: scroll;
  column-gap: 10px;
}
.scrollzurag1 {
  background: var(--scroll) center/cover no-repeat;
  flex-shrink: 0;
  height: 668px;
  width: 1250px;
}

.scrollzurag2 {
  background: var(--scroll) center/cover no-repeat;
  --scroll: url("./zurag/must.jpg");
  flex-shrink: 0;
  height: 668px;
  width: 1250px;
}
.scrollzurag3 {
  background: var(--scroll) center/cover no-repeat;
  --scroll: url("./zurag/ae.jpeg");
  flex-shrink: 0;
  height: 668px;
  width: 1250px;
}

.scrollsmall {
  display: flex;
  overflow-x: scroll;
  column-gap: 5px;
}

.small1 {
  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
}
.small10 {
  --small: url(./zurag/small10.jpeg);

  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
}
.small2 {
  --small: url(./zurag/small2.jpeg);

  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
}
.small3 {
  --small: url(./zurag/small3.jpeg);

  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
  flex-shrink: 0;
}
.small4 {
  --small: url(./zurag/small4.jpeg);
  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
}
.small5 {
  --small: url(./zurag/small5.jpeg);

  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
}
.small6 {
  --small: url(./zurag/small6.jpeg);

  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
}
.small7 {
  --small: url(./zurag/small7.jpeg);

  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
}
.small8 {
  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
  --small: url(./zurag/small8.jpeg);
}
.small9 {
  --small: url(./zurag/small9.jpeg);

  background: var(--small) center/cover no-repeat;
  width: 417px;
  height: 236px;
  flex-shrink: 0;
  flex-shrink: 0;
  flex-shrink: 0;
}
 
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 580px);
  gap: 10px;
  margin-top: 10px;
}

.product1 {
  background-image: var(--image-url);
  background-position: center;
  text-align: center;

}

.product1 img{
  padding-top: 20px;
}

.product1-child {
  padding-top: 20px;
}


.product1-child p{
 padding-top: 400px;
 background-image: linear-gradient(to right, blue, green, orange);
 background-clip: text;
 color: transparent;
 width: max-content;
 margin-inline: auto;
}


.product2 {
  background-position: center;
  --image-url: url("./zurag/huuhen.png");
  background-image: var(--image-url);
  text-align: center;
  padding-top: 400px;
}

.product2 h2{
  color: white;
}
.product2 p{
  color: white;
}
.product3 {
  background-position: center;
  --image-url: url("./zurag/tsag.png");
  background-image: var(--image-url);
  text-align: center;
}

.product3 p{
  color: #1D1D1F;
  padding-bottom: 10px;
  padding-top: 5px;
}

.product3 img{
  padding-top: 20px;
}
.product4 {
  background-position: center;
  --image-url: url("./zurag/notebook.png");
  background-image: var(--image-url);
  text-align: center;
}

.product4 h2{
  padding-top: 20px;
}
.product4 p{
  color: #1D1D1F;
  padding-bottom: 10px;
  padding-top: 10px;

}
.product5 {
  background-position: center;
  --image-url: url("./zurag/phone.png");
   background-image: var(--image-url);
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.product5 button{
 padding-top: 10px;
 border-radius: 40px;
 background-color: #0071E3;
 color: white;
 padding: 5px 20px;
 border: solid #0071E3;
 margin-top: 20px;
}

.product5 img{
padding-top: 50px;

}
.product6 {
  background-position: center;
   text-align: center;
  background-image: var(--image-url);
  --image-url: url(./zurag/card1.png);
}
.product6 img{
 padding-top: 50px;
 
}
.product6 p{
 padding-bottom: 10px;
 
}

@media only screen and (max-width: 768px) {
  .header {
    width: 768px;
  }
  .pad {
    display: block;
    width: 768px;
  }
  .menu {
    display: block;
    margin-left: auto;
  }
  .navigation {
    display: none;
  }
  .search {
    margin-left: auto;
  }
  .header-text {
    width: 768px;
    text-align: center;
  }
  .header-icon {
    margin-left: auto;
  }
  .iphone-pro {
    width: 768px;
    background: url(./zurag/Figure.png);
    background-position: center;
  }
  .iphone16 {
    background: url(./zurag/Figure2.png);
    width: 768px;
  }
  .gift {
    display: none;
  }
  .products {
    width: 768px;
  }
  .product1 {
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1fr;
    --image-url: url("./zurag/Figure6.png");
  }
  .product2 {
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1fr;
    --image-url: url("./zurag/padtsag.png");
  }
  .product3 {
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1fr;
    --image-url: url("./zurag//padnote.png");
  }
  .product4 {
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1fr;
    --image-url: url("./zurag//padohin.png");
  }
  .product5 {
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1fr;
    --image-url: url("./zurag//pad5.png");
  }
  .product6 {
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1fr;
    --image-url: url("./zurag//padutas.png");
  }
  .scroll {
    height: 368px;
    width: 768px;
  }
  .scrollzurag1 {
    height: 368px;
    width: 689px;
  }
  .scrollzurag2 {
    height: 368px;
    width: 689px;
  }
  .scrollzurag3 {
    height: 368px;
    width: 689px;
  }

  .scrollsmall {
    width: 768px;
  }
}

@media only screen and (max-width: 481px) {
  .header {
    width: 481px;
  }
  .header-text {
    width: 481px;
  }
  .iphone-pro {
    background: url(./zurag/Figure@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 481px;
    padding-top: 450px;
  }
  .iphone-pro h2 {
    font-size: 30px;
    transform: translate(0px, 200px);
  }
  .iphone-pro p {
    font-size: 20px;
    transform: translate(0px, 200px);
  }
  .child1 {
    transform: translate(0px, 200px);
    padding: 5px;
  }
  .child2 {
    transform: translate(0px, 200px);
    padding: 5px;
  }
  .iphone16 {
    width: 481px;
    background: url(./zurag/Figure4.png) center/cover no-repeat;
    padding-bottom: 500px;
    background-size: cover;
  }

  .pad {
    width: 481px;
  }
  .products {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 500px);
    width: 481px;
  }
  .scroll {
    width: 481px;
  }
  .scrollsmall {
    width: 481px;
  }
}
