* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", serif;
}
:root {
  --latest-photo: url(./zurag/l1.png);
}

.header {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  font: 18px inter, serif;
  position: fixed;
  width: 100vw;
  background-color: #f5f5f7;
}
.header-apple {
  height: 44px;
  width: 30px;
}
.navigation {
  margin-top: 15px;
  column-gap: 20px;
  display: flex;
}

.header-nav {
  text-decoration: none;
  color: black;
}

.header-text {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-icon {
  gap: 24px;
}
.menu {
  display: none;
}
.solongo {
  background: url(./zurag/11.png) center/cover no-repeat;
  width: 100vw;
  height: 88px;
}
.store {
  background-color: #f5f5f7;
  width: 100vw;
}
.store-deed {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding-left: 30px;
}
.store-deed2 {
  font-size: 44px;
  color: #6e6e73;
  font-weight: 700;
}
.store-deed1 {
  font-weight: 700;
  background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  background-clip: text;
  color: transparent;
  padding-right: 20px;
  font-size: 44px;
}
.store-deed3 {
  display: flex;
  padding-right: 10px;
}

.store-deed3 img {
  height: 35px;
  width: 35px;
  border-radius: 40px;
}
.store-dood {
  display: flex;
  column-gap: 12px;
  margin-top: 50px;
  width: 100vw;
  justify-content: space-evenly;
}

.product11 {
  background-image: url(./zurag/p11.png);
  height: 146px;
  width: 136px;
  background-repeat: no-repeat;
}

.product1 {
  background-image: url(./zurag/p1.png);
  height: 146px;
  width: 136px;
}

.product2 {
  background-image: url(./zurag/p2.png);
  height: 146px;
  width: 136px;
}
.product3 {
  background-image: url(./zurag/p3.png);
  height: 146px;
  width: 136px;
}
.product4 {
  background-image: url(./zurag/p4.png);
  height: 146px;
  width: 136px;
}
.product5 {
  background-image: url(./zurag/p5.png);
  height: 146px;
  width: 136px;
}
.product6 {
  background-image: url(./zurag/p6.png);
  height: 146px;
  width: 136px;
}
.product7 {
  background-image: url(./zurag/p7.png);
  height: 146px;
  width: 136px;
}
.product8 {
  background-image: url(./zurag/p8.png);
  height: 146px;
  width: 136px;
}
.product9 {
  background-image: url(./zurag/p9.png);
  height: 146px;
  width: 136px;
}
.product10 {
  background-image: url(./zurag/p10.png);
  height: 146px;
  width: 136px;
}
.latest {
  background-color: #f5f5f7;
  width: 100vw;
  padding-left: 30px;
}
.latest > p {
  padding-block: 30px 10px;
  font-size: 24px;
  font-weight: 700;
  color: #6e6e73;
}
.latest span {
  background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  background-clip: text;
  color: transparent;
}
.latest-product {
  display: flex;
  overflow-x: scroll;
  gap: 5px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
.latest-product div {
  background: var(--latest-photo) center/cover;
  width: 480px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 20px;
  scroll-snap-align: start;
}
.latest-product1 {
  background: var(--latest-photo);
  --latest-photo: url(./zurag/l1.png);
}
.latest-product1 p {
  font-size: 12px;
  padding-left: 20px;
  color: #b64400;
}

.latest-product1 :first-child {
  padding-top: 20px;
}
.latest-product1 h2 {
  font-family: "inter", serif;
  font-size: 26px;
  color: #1d1d1f;
  padding-left: 20px;
}
.latest-product1 :last-child {
  font-size: 18px;
  color: #1d1d1f;
  font-weight: 400;
}
.latest-product2 {
  padding: 30px 0px 0px 20px;
  background: var(--latest-photo);
  --latest-photo: url(./zurag/l2.png);
}
.latest-product2 h2 {
  font-size: 26px;
  color: #1d1d1f;
}

.latest-product3 {
  padding: 20px 0px 0px 20px;
  background: var(--latest-photo);
  --latest-photo: url(./zurag/l3.png);
}
.latest-product3 p {
  font-size: 12px;
  color: #b64400;
}
.latest-product3 h2 {
  font-size: 26px;
  color: #1d1d1f;
}

.latest-product3 :last-child {
  font-size: 18px;
  color: #1d1d1f;
  font-weight: 400;
}

.latest-product4 {
  padding: 20px 0px 0px 20px;
  background: var(--latest-photo);
  --latest-photo: url(./zurag/l4.jpeg);
}
.latest-product4 p {
  font-size: 12px;
  color: #b64400;
}
.latest-product4 h2 {
  font-size: 26px;
  color: #1d1d1f;
}

.latest-product4 :last-child {
  padding: 20px 0px 0px 20px;
  font-size: 18px;
  color: #1d1d1f;
  font-weight: 400;
}

.latest-product5 {
  background: var(--latest-photo);
  --latest-photo: url(./zurag/p5.png);
}
.latest-product6 {
  background: var(--latest-photo);
  --latest-photo: url(./zurag/p6.png);
}
.latest-product7 {
  background: var(--latest-photo);
  --latest-photo: url(./zurag/p7.png);
}
.latest-product8 {
  background: var(--latest-photo);
  --latest-photo: url(./zurag/p8.png);
}
.latest-product9 {
  background: var(--latest-photo);
  --latest-photo: url(./zurag/p9.png);
}
.latest-product10 {
  background: var(--latest-photo);
  --latest-photo: url(./zurag/p10.png);
}

.person {
  background-color: #f5f5f7;
  width: 100vw;
  padding-left: 30px;
}
.person > p {
  font-size: 24px;
  font-weight: 700;
  color: #6e6e73;
  padding-left: 30px;
  padding-block: 30px 10px;
}
.person span {
  background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  background-clip: text;
  color: transparent;
}
.person-products {
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  padding-bottom: 30px;
}
.person-product1 {
  flex-shrink: 0;
  height: 500px;
  width: 400px;
  background: url(./zurag/person1.png);
}
.person-product1 h2 {
  flex-shrink: 0;

  width: 250px;
  height: 66px;
  font-size: 26px;
  padding: 30px 0px 0px 53px;
}
.person-product2 {
  height: 500px;
  width: 313px;
  flex-shrink: 0;
  background: url(./zurag/person2.png);
}
.person-product3 {
  background: url(./zurag/person3.png);
  height: 500px;
  width: 313px;
  flex-shrink: 0;
}
.person-product4 {
  background: url(./zurag/person4.png);
  height: 500px;
  width: 313px;
  flex-shrink: 0;
}
.person-product5 {
  background: url(./zurag/person5.png);
  height: 500px;
  width: 313px;
  flex-shrink: 0;
}
.person-product6 {
  background: url(./zurag/mr-bean.jpeg);
  height: 500px;
  width: 313px;
  flex-shrink: 0;
}
.person-products div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
}
.holiday {
  padding: 30px 0px 0px 15px;
  background-color: #e7efef82;
}
.holiday > p {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
}
.holiday span {
  background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  background-clip: text;
  color: transparent;
}
.holiday-products {
  display: flex;
  padding-top: 10px;
  gap: 19px;
  overflow-x: scroll;
}
.holiday-product1 {
  background: url(./zurag/holiday1.png) center/cover no-repeat;
}
.holiday-product1 h2 {
  font-size: 26px;
  color: #1d1d1f;
  font-weight: 700;
  width: 300px;
  padding: 54px 0px 0px 30px;
}
.holiday-products div :first-child {
  margin: 71px 41.5px 0px 41.5px;
  width: 230px;
  height: 230px;
}

.holiday-products div {
  width: 313px;
  height: 500px;
  border-radius: 40px;
  flex-shrink: 0;
  background-color: white;
}
.holiday-product-photo {
  width: 253px;
  height: 48px;
  padding-left: 50px;
}
.holiday-product2 {
  padding-left: 10px;
}
.holiday-product2 p {
  color: #b64400;
  font-size: 12px;
}
.holiday-product2 h4 {
  padding-block: 10px 20px;
  font-size: 18px;
  color: #1d1d1f;
  width: 257px;
}
.holiday-product2 h6 {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 400;
}
.holiday-product3 {
  padding-left: 10px;
}
.holiday-product3 p {
  color: #b64400;
  font-size: 12px;
}
.holiday-product3 h4 {
  padding-block: 10px 20px;
  font-size: 18px;
  color: #1d1d1f;
  width: 257px;
}
.holiday-product3 h6 {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 400;
}
.holiday-product4 {
  padding-left: 10px;
}
.holiday-product4 p {
  color: #b64400;
  font-size: 12px;
}
.holiday-product4 h4 {
  padding-block: 10px 20px;
  font-size: 18px;
  color: #1d1d1f;
  width: 257px;
}
.holiday-product4 h6 {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 400;
}
.holiday-product5 {
  padding-left: 10px;
}
.holiday-product5 p {
  color: #b64400;
  font-size: 12px;
}
.holiday-product5 h4 {
  padding-block: 10px 20px;
  font-size: 18px;
  color: #1d1d1f;
  width: 257px;
}
.holiday-product5 h6 {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 400;
}
.holiday-product6 {
  padding-left: 10px;
}
.holiday-product6 p {
  color: #b64400;
  font-size: 12px;
}
.holiday-product6 h4 {
  padding-block: 10px 20px;
  font-size: 18px;
  color: #1d1d1f;
  width: 257px;
}
.holiday-product6 h6 {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 400;
}
.holiday-product7 {
  padding-left: 10px;
}
.holiday-product7 p {
  color: #b64400;
  font-size: 12px;
}
.holiday-product7 h4 {
  padding-block: 10px 20px;
  font-size: 18px;
  color: #1d1d1f;
  width: 257px;
}
.holiday-product7 h6 {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 400;
}
.holiday-product8 {
  padding-left: 10px;
}
.holiday-product8 p {
  color: #b64400;
  font-size: 12px;
}
.holiday-product8 h4 {
  padding-block: 10px 20px;
  font-size: 18px;
  color: #1d1d1f;
  width: 257px;
}
.holiday-product8 h6 {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 400;
}
.holiday-product9 {
  padding-left: 10px;
}
.holiday-product9 p {
  color: #b64400;
  font-size: 12px;
}
.holiday-product9 h4 {
  padding-block: 10px 20px;
  font-size: 18px;
  color: #1d1d1f;
  width: 257px;
}
.holiday-product9 h6 {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 400;
}
.holiday-product10 {
  padding-left: 10px;
}
.holiday-product10 p {
  color: #b64400;
  font-size: 12px;
}
.holiday-product10 h4 {
  padding-block: 10px 20px;
  font-size: 18px;
  color: #1d1d1f;
  width: 257px;
}
.holiday-product10 h6 {
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 400;
}

.only {
  padding: 30px 0px 0px 30px;
  background-color: #e7efef82;
}
.only > p {
  font-size: 24px;
  font-weight: 700;
  color: #6e6e73;
  padding-bottom: 10px;
}

.only span {
  background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  background-clip: text;
  color: transparent;
}
.only-products {
  display: flex;
  gap: 20px;
}
.only-products > div {
  height: 500px;
  border-radius: 40px;
}
.only-products > p {
}
.only-product1 {
  background: url(./zurag/only1.png) center/cover no-repeat;
  width: 480px;
}
.only-product1 p {
  font-size: 26px;
  color: #1d1d1f;
  font-weight: 700;
  width: 305px;
  padding: 50px 0px 0px 30px;
}

.only-product2 {
  display: grid;
  grid-template-columns: 313px 313px;
  grid-template-rows: 240px 240px;
  gap: 20px;
}
.only-product2 div {
  background-color: white;
  border-radius: 40px;
}
.only-product2 p {
  width: 238px;
  padding: 82px 0px 0px 30px;
  font-weight: 700;
  font-size: 22px;
  color: #1d1d1f;
}
.only-product3 {
  background: url(./zurag/only3.png);
  width: 480px;
}
.only-product3 h6 {
  padding: 31px 0px 0px 30px;
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.only-product3 p {
  padding-left: 30px;
  font-size: 25px;
  font-weight: 700;
  width: 330px;
  color: #1d1d1f;
}
.only-product4 h6 {
  padding: 31px 0px 0px 30px;
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.only-product4 p {
  padding-left: 30px;
  font-size: 25px;
  font-weight: 700;
  width: 330px;
  color: #1d1d1f;
}
.only-product4 {
  background: url(./zurag/only4.jpeg) center/cover no-repeat;
  width: 480px;
}
.apple {
  padding: 30px 0px 0px 30px;
  background-color: #e7efef82;
}

.apple > p {
  font-size: 24px;
  font-weight: 700;
  color: #6e6e73;
  padding-bottom: 10px;
}

.apple span {
  background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  background-clip: text;
  color: transparent;
}

.apple-products {
  display: flex;
  gap: 20px;
}
.apple-products div {
  padding: 20px 0px 0px 20px;
  border-radius: 40px;
  width: 480px;
  height: 500px;
}
.apple-product1 {
  background: white url(./zurag/apple1.png) center/cover no-repeat;
}
.apple-product1 h6 {
  color: #6e6e73;
  font-size: 12px;
}
.apple-product1 h2 {
  width: 275px;
  font-size: 26px;
  font-weight: 700;
}

.apple-product1 p {
  font-size: 17px;
  font-weight: 400;
  color: #1d1d1f;
}
.apple-product2 {
  color: white;
  background: url(./zurag/apple2.png) center/cover no-repeat;
}
.apple-product3 {
  background: url(./zurag/apple3.png) center/cover no-repeat;
}
.apple-product3 h2 {
  width: 250px;
  height: 66px;
}
.apple-product4 {
  background: url(./zurag/apple4.jpeg) center/cover no-repeat;
}
.apple-product4 h6 {
  color: #6e6e73;
  font-size: 12px;
}

.special {
  padding: 30px 0px 0px 30px;
  background-color: #e7efef82;
}
.special > p {
  font-size: 24px;
  font-weight: 700;
  color: #6e6e73;
  padding-bottom: 10px;
}

.special span {
  background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  background-clip: text;
  color: transparent;
}

.special-products {
  display: flex;
  gap: 20px;
}
.special-products div {
  padding: 20px 0px 0px 20px;
  border-radius: 40px;
  width: 400px;
  height: 500px;
}

.special1 {
  background: url(./zurag/special1.png) center/cover no-repeat;
}
.special1 h6 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.special1 h2 {
  padding: 10px 0px 10px 0px;
  font-size: 26px;
}
.special1 p {
  font-size: 17px;
  font-weight: 400;
  width: 320px;
}
.special2 {
  background: url(./zurag/special2.png) center/cover no-repeat;
}
.special2 h6 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.special2 h2 {
  padding: 10px 0px 10px 0px;
  font-size: 26px;
}
.special3 {
  background: url(./zurag/special3.png) center/cover no-repeat;
}
.special3 h6 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.special3 h2 {
  padding: 10px 0px 10px 0px;
  font-size: 26px;
}
.special4 {
  background: url(./zurag/special1.png) center/cover no-repeat;
}
.special4 h6 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.special4 h2 {
  padding: 10px 0px 10px 0px;
  font-size: 26px;
}
.special5 {
  background: url(./zurag/special1.png) center/cover no-repeat;
}
.special5 h6 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.special5 h2 {
  padding: 10px 0px 10px 0px;
  font-size: 26px;
}
.link {
  background-color: #e7efef82;

  padding: 30px 0px 20px 30px;
}
.footer {
  padding-left: 30px;
  background-color: #e7efef82;
  gap: 20px;
}
.footer span {
  border-radius: 50px;
  border-width: 30px;
  padding: 5px;
  border: 1px solid;
  font-size: 14px;
  color: #1d1d1f;
}
